{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'backend/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/css/back.css' %}" />
    <link rel="stylesheet" href="{% static 'backend//layout/styles/fontawesome-free/css/fontawesome-all.min.css' %}" />
    <title>Radon - Backend</title>
</head>

<body>

    <div class="box">
        <aside>
            <div>
                <ul class="main-menu">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Themes</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
        </aside>

    </div>
    <div class="main box">
        <div>
            <h2 align="center">Welcome To Radon, Dashboard !</h2>
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde commodi, id minus aut exercitationem possimus
            porro molestiae officia aliquid sequi amet maiores perspiciatis inventore numquam? Assumenda voluptatum
            nobis at. Quas necessitatibus qui, nemo reprehenderit voluptate odio facilis autem! Laudantium sed dolorum
            minus perferendis sint magnam sapiente. Voluptatem quis maiores officiis veniam porro, doloribus, eius
            facere consequuntur quos eveniet sapiente minus odit. Distinctio possimus quas cupiditate quasi fugiat
            nostrum et quia unde, quod amet exercitationem mollitia placeat ad adipisci repellat expedita quis, totam
            corrupti at praesentium, atque reprehenderit aut recusandae. Iste, aspernatur beatae. Dolorem nihil harum
            itaque cum facilis. Magni blanditiis, sit provident nostrum adipisci rem quidem aut sint omnis quos
            recusandae distinctio cumque magnam, laborum eaque! Dignissimos eius provident aut dolores doloribus sit
            laudantium. Quas distinctio veniam adipisci recusandae veritatis. Adipisci, repellat nisi enim ipsam sequi
            quam? Minima deleniti eos impedit aspernatur aut ea veritatis, tempora modi praesentium aliquid facere
            error, tenetur cum odit sed vel assumenda laborum quae totam ab reprehenderit debitis? Laudantium eveniet
            voluptatibus magni laboriosam sint commodi nihil eius soluta numquam, dolores sequi libero nisi quibusdam
            reiciendis totam inventore hic iure iusto ratione nam maiores! Corrupti quibusdam nisi, totam eos iste
            ratione vero repellendus cupiditate rem, error veritatis consequuntur fugit mollitia! Enim, qui neque
            repudiandae dolorem suscipit nostrum quam asperiores laboriosam, cumque quibusdam nisi odio animi architecto
            possimus quia quas tenetur facilis. Doloremque, iure repellendus! Quibusdam ducimus corrupti debitis
            voluptatem molestias, maiores sunt beatae omnis fuga, deleniti recusandae qui repudiandae! Hic voluptates
            laborum consequatur mollitia earum blanditiis minima nulla illum cumque laudantium suscipit alias
            repellendus laboriosam distinctio id porro esse eos doloribus, maiores error voluptas! Sint vitae molestiae
            quia, obcaecati voluptates nisi earum tempora quasi quibusdam cumque iusto assumenda veniam! Eaque
            praesentium repellendus culpa assumenda, eos hic obcaecati porro iste nobis reiciendis, sint adipisci quo ad
            mollitia, recusandae laborum pariatur quisquam ab laudantium. Error eius quisquam dolorum omnis quam autem
            doloremque, minus rem exercitationem laudantium odio placeat quaerat sed voluptatem suscipit? Officia
            dignissimos, porro asperiores quis saepe minima odio sunt eligendi minus quae atque esse tempore provident
            at odit animi rem voluptate! Nostrum molestias corporis perspiciatis, laborum veniam ipsum, reiciendis
            quidem, tenetur quam harum dolore. Voluptatibus iusto sed deleniti iste aliquam velit illum ipsum, voluptate
            suscipit non natus recusandae, magni itaque? Reiciendis porro maiores cum! Magni eveniet eius dignissimos
            beatae saepe ea voluptatem accusamus autem et dolor excepturi explicabo temporibus molestiae voluptas,
            accusantium molestias rem laborum totam aliquid voluptatum natus enim. Soluta sint obcaecati eveniet alias
            commodi fuga tempore quos quas quaerat. Similique est commodi debitis, quam dolorem ab molestias illum quis
            alias fuga nulla ex praesentium, eos, aliquid veritatis! Voluptatum porro, asperiores labore nam
            consequuntur, nihil commodi ab ea ducimus eaque praesentium recusandae eius sequi, aut cum. Quisquam aliquam
            ab a, pariatur adipisci commodi, nostrum deleniti sint cum mollitia suscipit velit vel quo natus perferendis
            quaerat veniam ducimus impedit alias. Quo sunt quisquam modi ipsa dolore nesciunt laudantium ab fugiat culpa
            voluptas ullam expedita in cum quam ducimus, libero doloremque voluptate explicabo itaque alias facere
            aliquam accusantium! Et corporis consequatur neque. Aut, temporibus, placeat perferendis vero nemo culpa,
            eligendi tenetur magni consequatur ut optio? Cum eum maxime quas praesentium modi, aliquid repudiandae rem
            velit minus? Perferendis voluptatem corrupti iste, suscipit nulla accusantium ex quos quaerat numquam aut
            adipisci, fuga, tempora repellat provident consectetur? Necessitatibus culpa sint rem obcaecati. Illum
            quisquam aliquam ratione fuga dicta? Nostrum voluptatem aliquid aut sequi minima! Ducimus, sequi! Velit
            asperiores culpa dignissimos ullam sequi atque autem labore pariatur suscipit! Debitis aspernatur totam
            possimus? Totam vel hic delectus magni! Dolor magni perferendis amet odit aut nesciunt, excepturi velit et
            rem, sapiente qui nisi aliquam optio suscipit reprehenderit deleniti. Maxime exercitationem in quis vitae
            voluptatum illum vero, molestias ratione fugit unde amet atque nisi et nam repudiandae sequi? Voluptatum
            atque earum aliquid assumenda autem qui eaque eius eum mollitia repellat! Provident repellendus sunt quis
            labore placeat vel maxime hic et aspernatur eligendi perferendis, animi dolorum, culpa minima quos
            reiciendis similique illum alias libero atque, sit aut eaque nobis. Accusantium ipsam illum nihil
            consequuntur dignissimos quae laborum voluptas voluptates ex incidunt, placeat nisi nobis asperiores quis
            magnam. Quod commodi sint nihil odio debitis iure voluptas eaque nulla ratione, magni minus expedita
            reiciendis atque soluta pariatur labore fuga placeat amet! Eligendi nulla sed pariatur enim labore dolores
            in repellendus obcaecati excepturi, sequi possimus praesentium natus. Porro quae repellat autem deleniti
            minus expedita, esse nihil est laborum quaerat unde. Eius dolorem impedit maxime repellendus voluptatem
            magni explicabo deleniti excepturi laborum. Perferendis sit quo aliquam dicta quaerat sint natus veritatis
            hic quam repudiandae, possimus ratione modi, illum, fugiat placeat voluptates consequatur! Cupiditate rem
            odio cumque iusto nobis beatae porro optio et tenetur! Ut eos mollitia aut repudiandae illum et quibusdam
            non sit quaerat fugit, maxime, laborum nihil dolore reiciendis totam sed odit temporibus dolores
            consectetur, pariatur quo quas doloremque. Error, blanditiis eos! Officia odit quisquam expedita ad?
            Reprehenderit, necessitatibus commodi? Suscipit deleniti consequuntur nisi sit beatae nostrum, fugiat nulla
            amet quia vero sapiente repudiandae architecto dolorem vel optio veniam! Hic incidunt nobis quam dolorem
            dolore. In, numquam non doloribus eius aut ex assumenda eligendi nemo rem reprehenderit accusantium
            voluptatum consectetur quia soluta? Cum odit consequuntur vitae facere aliquam ipsa quidem facilis
            praesentium officiis atque laboriosam voluptatum itaque esse ratione, commodi eos at necessitatibus. Aliquid
            illo nisi dolorem qui maxime totam sint in, dignissimos eius, tempore minima numquam animi fuga iusto, dolor
            quibusdam ipsa consequatur! Autem eos optio, impedit ipsum ratione exercitationem obcaecati animi deserunt
            aliquam commodi sint libero recusandae dolore similique at placeat quos asperiores molestias suscipit
            laudantium. Nobis ratione repellendus facilis illo debitis iure, architecto reiciendis cumque aut esse.
            Officiis autem, molestias ratione animi ullam id fugit, itaque, qui nobis deleniti vitae a dolorem quasi
            magni nisi earum? Animi voluptatum sequi numquam laborum! Rerum impedit pariatur voluptas, ex eaque rem
            adipisci, libero molestias similique iste doloribus maxime facere quam voluptatem odio. Nesciunt suscipit
            quas ex aperiam doloribus laborum pariatur mollitia eum soluta perspiciatis iure ipsum saepe aut culpa,
            quibusdam adipisci assumenda veniam explicabo iusto dicta enim?
        </div>
    </div>

</body>

</html>