.themes-main {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.themes-card:hover {
    box-shadow: 8px 8px 8px blue;
    transform: scale(1.02);
}

.theme-details {
    color: black;
    text-decoration: none;
}

.themes-main a:hover {
    color: black;
    text-decoration-line: none;
}

.themes-card {
    width: 16rem;
    color: black;
    border-radius: 15px;
}

.themes-img {
    margin-top: 10px !important;
}

.themes-img img {
    border-radius: 20px;
    height: 150px;
    width: 222px;
    /* border: #1115 solid 3px; */
    background-color: gray;
}

.themes-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.loading {
    border-radius: 20px;
    height: 150px;
    width: 222px;
    margin: 0 auto;
    animation: loading-animation 1s linear infinite alternate;
}

@keyframes loading-animation {
    0% {
        background-color: hsl(200, 20%, 70%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.modal {
    color: black;
}

.modal-dialog {
    max-width: 80%;
    margin: 2rem auto;
}

.modal-image img {
    height: 300px;
    width: 460px;
}

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}